# ===== Python =====
venv/
.env
__pycache__/
*.pyc

# ===== Data =====
backend/data/*.csv
backend/metrics/metrics.json
# ===== Models =====
# (on garde le .pkl volontairement)

# ===== Frontend =====
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db
